

/* max-width: 1024px */
@media (max-width: 1024px) {

    .logo {
        width: 124px;
    }
    .nav_cont {
        display: flex;
        flex-direction: column;
        padding-left: 94px;
    }

        .nav-flex {
          
            width: 382px;
        }
    .cta-container {
       
        height: 50vh;
        
        
    }

    
}
/* max-width: 826px */
@media (max-width: 826px) {
    

    .cta-text h1 {
        font-size: 38px;
        
        
    }
    .cta-text p {
        width: 52%;
       
    }
   
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 47%;
    }

    .Qlk-ftr {
        width: 27%;
    }

    .cont-ftr {
        
        width: 40%;
        
    }
    .loct-ftr {
     
        width: 24%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}

/* max-width: 674px */
@media (max-width: 674px) {
    
    .cta-text h1 {
        font-size: 33px;
        
        
    }
    .cta-text p {
        width: 66%;
        font-size: 12px;
    }
   
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 47%;
    }

    .Qlk-ftr {
        width: 27%;
    }

    .cont-ftr {
        
        width: 40%;
        
    }
    .loct-ftr {
     
        width: 24%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}


@media (max-width: 775px){
    .cta-container {
        height: 56vh;
    }
}
/* max-width: 430px */
@media (max-width: 430px) {
    

    .cta-text h1 {
        font-size: 29px;
        margin-bottom: 8px;
        
        
    }
    .cta-text p {
        width: 78%;
       
    }
    
    .gird-cta {
        display: grid;
    
        grid-template-columns: 1fr  ;
        order: -1;
    }

    .cta-msg h1 {
         font-size: 25px; 
        width: 167%;
    }
    .input-block-cta button {
      
        width: 50%;
        font-size: 12px;
    }
    .cta-msg p {
      
        width: 144%;
       
    }
    .cta-L{
        order: -1;
    }

    .ftr-sec {
    
        flex-wrap: wrap;
        
    }

    .ftr-logo {
        width: 74%;
    }

    .Qlk-ftr {
        width:41%;
    }

    .cont-ftr {
        
        width: 46%;
        
    }
    .loct-ftr {
     
        width: 37%;
        
    }
    .ftr-cpr p {
        font-size: 9px;
    }
}

@media (max-width: 390px){

    .nav_cont{
        padding-left: 52px;
    }
    .abt_container{
        height: 57vh;
    }
    .nav-flex {
      
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* width: ; */
    }
    #first {
        order: -1;
        width: 350px;
    }
    .grid-abt-rigth {
        width: 21rem;
    }
    .abt_cont p {
        width: 23rem;
    }
}